.form {
  width: 288px;
  padding: 16px 0;
  margin: 0 auto;
}

.form__title {
  width: 284px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #979797;
  border: none;
  border-radius: 89px;
  background-color: #e5e5e5;
  margin: 0 0 16px;
}

.form__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #d51d21;
}

.form__info span {
  font-weight: 700;
  color: black;
}

.form__button {
  background: linear-gradient(
      0deg,
      rgba(213, 29, 33, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ff0000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  border: none;
  padding: 3px 22px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: white;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s linear;
}

.form__button:hover {
  opacity: 0.6;
}
